[submodule "examples/FastLED_NeoMatrix_SmartMatrix_LEDMatrix_GFX_Demos"]
	path = examples/FastLED_NeoMatrix_SmartMatrix_LEDMatrix_GFX_Demos
	url = https://github.com/marcmerlin/FastLED_NeoMatrix_SmartMatrix_LEDMatrix_GFX_Demos
[submodule "libraries/LEDMatrix"]
	path = libraries/LEDMatrix
	url = https://github.com/marcmerlin/LEDMatrix
[submodule "libraries/Framebuffer_GFX"]
	path = libraries/Framebuffer_GFX
	url = https://github.com/marcmerlin/Framebuffer_GFX
[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = https://github.com/MarcFork/FastLED
[submodule "libraries/FastLED_TFTWrapper_GFX"]
	path = libraries/FastLED_TFTWrapper_GFX
	url = https://github.com/marcmerlin/FastLED_TFTWrapper_GFX
[submodule "libraries/FastLED_RPIRGBPanel_GFX"]
	path = libraries/FastLED_RPIRGBPanel_GFX
	url = https://github.com/marcmerlin/FastLED_RPIRGBPanel_GFX
[submodule "rpi-rgb-led-matrix"]
	path = rpi-rgb-led-matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix/
[submodule "libraries/FastLED_NeoMatrix"]
	path = libraries/FastLED_NeoMatrix
	url = https://github.com/marcmerlin/FastLED_NeoMatrix
[submodule "libraries/LEDSprites"]
	path = libraries/LEDSprites
	url = https://github.com/AaronLiddiment/LEDSprites/
[submodule "libraries/LEDText"]
	path = libraries/LEDText
	url = https://github.com/AaronLiddiment/LEDText
[submodule "rpi-rgb-led-matrix.git_linkme"]
	path = rpi-rgb-led-matrix.git_linkme
	url = https://github.com/hzeller/rpi-rgb-led-matrix/
[submodule "rpi-rgb-led-matrix.git"]
	path = rpi-rgb-led-matrix.git
	url = https://github.com/hzeller/rpi-rgb-led-matrix/
[submodule "examples/NeoMatrix_Demos_Private"]
	path = examples/NeoMatrix_Demos_Private
	url = git@github.com:marcmerlin/NeoMatrix_Demos_Private.git
